@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.common {
    font-family: 'Red Hat Text', sans-serif;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: rgb(43, 43, 43) !important;
}

.container {
    /* background-color: red;
    color: red; */
}